/*Estilização padrao da pagina*/
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, white 70%, black);
    
}
/*Estilização do HEADER da pagina*/
header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.logo{
    
    width: 8%;
    margin-left: 5%;
}
.banner{
    width: 100%;
    height: 400px;
}
nav{
    color:white;
    position: absolute;
    top: 10%;
    font-size: 20;
    right: 2%;
    font-family: cursive;
}
nav li{
    display: inline;
    margin-right: 40px;
}
.divHeader{
    position: relative;
}
.historia{
    padding: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px;
}
.historia h2{
    font-size: 36px;
}
.historia p {
    font-size: 18px;
    max-width: 800px;
    margin: auto;
}
.imgkiller{
    margin-left: 50px;
}
.tamanhok{
     border: 10px solid #ffffff; /* Borda branca ou clara */
    padding: 5px; /* Espaço entre a borda e a imagem */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Cantos levemente arredondados */
    background-color: #fff; /* Fundo para o padding */

    width: 20%;
    float: left;
    margin-right: 100px;

      box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.418);
}
.k.info{
    max-width: 500px;
    clear: left;
    text-align: justify;
}
.k.info h2{
    font-size: 32px;
}
.k.info p{
    font-size: 18px;
}
.k.info ul{
    list-style: none;
    padding: 0;
}
.lista1{
    margin-top: 100px;
}
.Local{
    margin-top: 100px;
    text-align: center;
}

.Thunder{
   height: 500px;
   background: white(245, 25, 25);
}

.tamanhoth{
    border: 10px solid #ffffff; /* Borda branca ou clara */
    padding: 5px; /* Espaço entre a borda e a imagem */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Cantos levemente arredondados */
    background-color: #fff; /* Fundo para o padding */

  width: 30%;
  float: right;
  margin-right: 50px;
  margin-top: 50px;

    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.418);
}
.thinfo{
width: 50%;
  margin-left: 750px;
  padding-top: 80px;
}

.pm28{
    background-color: white;
    height: 700px;
}
.tamanhopm{
    border: 10px solid #ffffff; /* Borda branca ou clara */
    padding: 5px; /* Espaço entre a borda e a imagem */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Cantos levemente arredondados */
    background-color: #fff; /* Fundo para o padding */

    width: 25%;
    float: left;
    margin-right: 100px;
    margin-left: 50px;
    margin-top: -70px;

      box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.418);
}
.furieli{
margin-top: -300px;
 height: 500px;
 background-color: white(185, 138, 138);   
}
.tamanhofurieli{
    
    border: 10px solid #ffffff; /* Borda branca ou clara */
    padding: 5px; /* Espaço entre a borda e a imagem */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Cantos levemente arredondados */
    background-color: #fff; /* Fundo para o padding */

    width: 30%;
    float: right;
    margin-right: 50px;
    margin-top: 50px;

      box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.418);
}
.finfo{
   width: 50%;
  margin-left: 750px;
  padding-top: 80px; 
}



.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* efeito da linha animada */

.underline-hover{
    position: relative;
}

.underline-hover::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(94, 20, 90), rgb(126, 0, 175));
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.underline-hover:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.logo{
    width: 120px;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.logo:hover{
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 20px rgb(147, 10, 201);
}
.video{
    margin-top: 200px;
    text-align: center;

}

footer{
    background-color: black;
    margin-top: 300px;
    padding: 5px;

}

footer .um{
    text-align: center;
}

footer .dois{
    text-align: right;
}
.imgf{
    width: 6%;
}
.insta{
    width: 2%;

}

