/*Estilização padrao da pagina*/
body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Estilização do HEADER da pagina*/
header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.logo{
    width: 8%;
    margin-left: 5%;
}
.banner{
    width: 100%;
    height: 400px;
}
nav{
    color:white;
    position: absolute;
    top: 10%;
    font-size: 30;
    right: 2%;
    font-family: cursive;
}
nav li{
    display: inline;
    margin-right: 40px;
}
.divHeader{
    position: relative;
}
.historia{
    padding: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px;
}
.historia h2{
    font-size: 36px;
}
.historia p {
    font-size: 18px;
    max-width: 800px;
    margin: auto;
}
.imgkiller{
    margin-left: 50px;
}
.tamanhok{
    width: 20%;
    border: solid 5px black;
    border-radius: 5px;
    float: left;
    margin-right: 100px;
}
.k.info{
    max-width: 500px;
    clear: left;
    text-align: justify;
}
.k.info h2{
    font-size: 32px;
}
.k.info p{
    font-size: 18px;
}
.k.info ul{
    list-style: none;
    padding: 0;
}
.lista1{
    margin-top: 300px;
}
.Local{
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(white,black);
}
.secaocarros img {
    width: 20%;
    height: 70%;
}

.secaocarros div {
    height: 550px;
}
.Thunder-direita img{
    float: right;
    margin-right: 100px;
}
.Thunder-esquerda img{
    float: left;
    margin-left: 100px;
}
.TmTh{
   height: 1500px;
   background: rgb(182, 182, 182);
}


